<please-wait></please-wait>
<div>
    <h1>Admin - přidat stanoviště</h1>

    <form novalidate name="addPostForm">
        <div class="row form-group" ng-class="{ 'has-error' : addPostForm.name.$invalid && !addPostForm.name.$pristine }">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Název:
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="text" id="name" name="name" ng-model="ctrl.post.name" required ng-required="true" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Popis:
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <ng-quill-editor ng-model="ctrl.post.description"></ng-quill-editor>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Typ stanoviště:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="postType.name for postType in ctrl.postTypes" ng-model="ctrl.post.postType" class="form-control"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Typ keše:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="cacheType.name for cacheType in ctrl.cacheTypes" ng-model="ctrl.post.cacheType" class="form-control" ng-disabled="ctrl.post.postType.postType !== 'CGC' && ctrl.post.postType.postType !== 'BON' && ctrl.post.postType.postType !== 'SBN'"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Velikost keše:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="postSize.name for postSize in ctrl.postSizes" ng-model="ctrl.post.postSize" class="form-control" ng-disabled="ctrl.post.postType.postType !== 'CGC' && ctrl.post.postType.postType !== 'BON' && ctrl.post.postType.postType !== 'SBN'"></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Barva:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="postColor.name for postColor in ctrl.postColors" ng-model="ctrl.post.color" class="form-control"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Terén:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="terrain.name for terrain in ctrl.postTerrains" ng-model="ctrl.post.terrain" class="form-control"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Obtížnost:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="difficulty.name for difficulty in ctrl.postDifficulties" ng-model="ctrl.post.difficulty" class="form-control"></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Maximální skóre:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="number" ng-model="ctrl.post.maxScore" id="maxScore" name="maxScore" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <abbr title="Heslo pro zalogování stanoviště">Heslo:</abbr>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="ctrl.post.shibboleth" id="shibboleth" name="shibboleth" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <abbr title="Kód, kterým se stanoviště odemkne k zalogování (bonus a superbonus)">Bonusový kód:</abbr>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="ctrl.post.bonusCode" id="bonusCode" name="bonusCode" class="form-control" ng-disabled="ctrl.post.postType.postType !== 'BON' && ctrl.post.postType.postType !== 'SBN'" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <abbr title="Totéž, co hint v GC">Hint:</abbr>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="ctrl.post.hint" id="hint" name="hint" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <abbr title="Používá zejména se u šifer - promítne se do bodování">Nápověda:</abbr>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="ctrl.post.help" id="help" name="help" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                S orgem:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="checkbox" ng-model="ctrl.post.withStaff" id="withStaff" name="withStaff" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                N:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="number" ng-model="ctrl.post.latitude" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                E:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="number" ng-model="ctrl.post.longitude" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <abbr title="Písmeno, které tým získá po zalogování stanoviště">Písmeno (super)bonusu:</abbr>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="ctrl.post.passwordCharacter" id="passwordCharacter" name="passwordCharacter" class="form-control" ng-disabled="ctrl.post.postType.postType === 'SBN'" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Otevřeno od:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="time" ng-model="ctrl.post.openFrom" id="openFrom" name="openFrom" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Otevřeno do:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="time" ng-model="ctrl.post.openTo" id="openTo" name="openTo" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <abbr title="Pozice písmene, které tým získá po zalogování stanoviště">Pozice písmene (super)bonusu:</abbr>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="number" ng-model="ctrl.post.passwordPosition" id="passwordPosition" name="passwordPosition" class="form-control" ng-disabled="ctrl.post.postType.postType === 'SBN'" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Waypointy:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="list-group">
                    <div class="list-group-item row" ng-repeat="wpt in ctrl.post.waypoints" ng-class="{'list-group-item-success': wpt.waypointVisibility.waypointVisibility === 'VW', 'list-group-item-warning': wpt.waypointVisibility.waypointVisibility === 'HW', 'list-group-item-danger': wpt.waypointVisibility.waypointVisibility === 'HC'}">
                        <img src="assets/images/finish.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypointType.waypointType==='FIN'" title="{{wpt.waypointType.name}}" />
                        <img src="assets/images/parking.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypointType.waypointType==='PAR'" title="{{wpt.waypointType.name}}" />
                        <img src="assets/images/poi.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypointType.waypointType==='REF'" title="{{wpt.waypointType.name}}" />
                        <img src="assets/images/path.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypointType.waypointType==='WAY'" title="{{wpt.waypointType.name}}" />
                        <img src="assets/images/stage.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypointType.waypointType==='STA'" title="{{wpt.waypointType.name}}" />
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            {{wpt.name}}
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {{wpt.description}}
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            {{wpt.latitude | coordinate: 'N'}}<br />
                            {{wpt.longitude | coordinate: 'E'}}
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1 text-right">
                            <div ng-click="ctrl.removeWaypoint(wpt)" class="clickable"><span class="glyphicon glyphicon-remove delete-icon icon" aria-hidden="true"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button ng-click="ctrl.addWaypoint()" class="btn btn-primary">Přidat waypoint</button>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Přidat" ng-click="ctrl.addPost(ctrl.post)" ng-disabled="addPostForm.$invalid" class="btn btn-primary">
        </div>
    </form>
</div>