<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Přidat waypoint</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row form-group">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            Název:
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <input type="text" ng-model="wpt.name" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            Popis:
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <input type="text" ng-model="wpt.description" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            Typ:
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <select ng-options="waypointType.name for waypointType in vm.waypointTypes" ng-model="wpt.waypointType" class="form-control"></select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            Viditelnost:
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <select ng-options="waypointVisibility.name for waypointVisibility in vm.waypointVisibilities" ng-model="wpt.waypointVisibility" class="form-control"></select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            N:
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <input type="number" ng-model="wpt.latitude" class="form-control" ng-disabled="wpt.waypointVisibility.waypointVisibility === 'HC'" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            E:
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <input type="number" ng-model="wpt.longitude" class="form-control" ng-disabled="wpt.waypointVisibility.waypointVisibility === 'HC'" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="confirm(wpt)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="closeThisDialog()">Cancel</button>
</div>