<please-wait></please-wait>
<div>
    <h1>Admin - upravit stanoviště</h1>

    <form novalidate name="editPostForm">
        <div class="row form-group" ng-class="{ 'has-error' : editPostForm.name.$invalid && !editPostForm.name.$pristine }">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Název:
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="text" id="name" name="name" ng-model="ctrl.post.name" required ng-required="true" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Popis:<br />
                <input type="checkbox" ng-model="ctrl.showDescriptionHtml" id="showDescriptionHtml"><label for="showDescriptionHtml">HTML</label>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <ng-quill-editor ng-model="ctrl.post.description" ng-show="!ctrl.showDescriptionHtml"></ng-quill-editor>
                <textarea rows="5" style="width: 100%" ng-model="ctrl.post.description" ng-show="ctrl.showDescriptionHtml"></textarea>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Instrukce pro B-tým:<br />
                <input type="checkbox" ng-model="ctrl.showInstructionsHtml" id="showInstructionsHtml"><label for="showInstructionsHtml">HTML</label>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <ng-quill-editor ng-model="ctrl.post.instructions" ng-show="!ctrl.showInstructionsHtml"></ng-quill-editor>
                <textarea rows="5" style="width: 100%" ng-model="ctrl.post.instructions" ng-show="ctrl.showInstructionsHtml"></textarea>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Info pro A-tým:<br />
                <input type="checkbox" ng-model="ctrl.showSupportHtml" id="showSupportHtml"><label for="showSupportHtml">HTML</label>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <ng-quill-editor ng-model="ctrl.post.support" ng-show="!ctrl.showSupportHtml"></ng-quill-editor>
                <textarea rows="5" style="width: 100%" ng-model="ctrl.post.support" ng-show="ctrl.showSupportHtml"></textarea>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Typ stanoviště:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="postType.name for postType in ctrl.postTypes" ng-model="ctrl.post.postType" class="form-control"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Typ keše:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="cacheType.name for cacheType in ctrl.cacheTypes" ng-model="ctrl.post.cacheType" class="form-control" ng-disabled="ctrl.post.postType.postType !== 'CGC' && ctrl.post.postType.postType !== 'BON' && ctrl.post.postType.postType !== 'SBN'"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Velikost keše:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="postSize.name for postSize in ctrl.postSizes" ng-model="ctrl.post.postSize" class="form-control" ng-disabled="ctrl.post.postType.postType !== 'CGC' && ctrl.post.postType.postType !== 'BON' && ctrl.post.postType.postType !== 'SBN'"></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Barva:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="postColor.name for postColor in ctrl.postColors" ng-model="ctrl.post.color" class="form-control"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Terén:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="terrain.name for terrain in ctrl.postTerrains" ng-model="ctrl.post.terrain" class="form-control"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Obtížnost:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="difficulty.name for difficulty in ctrl.postDifficulties" ng-model="ctrl.post.difficulty" class="form-control"></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Maximální skóre:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="number" ng-model="ctrl.post.max_score" id="maxScore" name="maxScore" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <abbr title="Heslo pro zalogování stanoviště">Heslo dospělácké/dětské:</abbr>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <input type="text" ng-model="ctrl.post.shibboleth" id="shibboleth" name="shibboleth" class="form-control" />
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <input type="text" ng-model="ctrl.post.shibboleth_kid" id="shibboleth_kid" name="shibboleth_kid" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <abbr title="Kód, kterým se stanoviště odemkne k zalogování (bonus a superbonus)">Bonusový kód:</abbr>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="ctrl.post.bonus_code" id="bonusCode" name="bonusCode" class="form-control" ng-disabled="ctrl.post.postType.postType !== 'BON' && ctrl.post.postType.postType !== 'SBN'" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <abbr title="Totéž, co hint v GC">Hint:</abbr>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="ctrl.post.hint" id="hint" name="hint" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <abbr title="Používá zejména se u šifer - promítne se do bodování">Nápověda:</abbr>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="ctrl.post.help" id="help" name="help" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                S orgem:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="checkbox" ng-model="ctrl.post.with_staff" id="withStaff" name="withStaff" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                N:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="row">
                    <div class="col-xs-4">
                        <input type="number" ng-model="ctrl.latitudeDeg" class="form-control" />
                    </div>
                    <div class="col-xs-8">
                        <input type="number" ng-model="ctrl.latitudeDecimals" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                E:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="row">
                    <div class="col-xs-4">
                        <input type="number" ng-model="ctrl.longitudeDeg" class="form-control" />
                    </div>
                    <div class="col-xs-8">
                        <input type="number" ng-model="ctrl.longitudeDecimals" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <abbr title="Písmeno, které tým získá po zalogování stanoviště">Písmeno (super)bonusu:</abbr>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="ctrl.post.password_character" id="passwordCharacter" name="passwordCharacter" class="form-control" ng-disabled="ctrl.post.postType.postType === 'SBN'" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Otevřeno od:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="time" ng-model="ctrl.post.open_from" id="openFrom" name="openFrom" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Otevřeno do:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="time" ng-model="ctrl.post.open_to" id="openTo" name="openTo" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <abbr title="Pozice písmene, které tým získá po zalogování stanoviště">Pozice písmene (super)bonusu:</abbr>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="number" ng-model="ctrl.post.password_position" id="passwordPosition" name="passwordPosition" class="form-control" ng-disabled="ctrl.post.postType.postType === 'SBN'" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Přibližná délka:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="ctrl.post.time_estimate" id="time_estimate" name="time_estimate" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Atributy:
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div ng-repeat="att in ctrl.post.attributes" class="attribute">
                    <img ng-src="{{att.icon}}" title="{{att.name_on}}" ng-click="ctrl.changeAttribute(att.attribute)" ng-show="att.status==null" />
                    <img ng-src="{{att.icon_on}}" title="{{att.name_on}}" ng-click="ctrl.changeAttribute(att.attribute)" ng-show="att.status" />
                    <img ng-src="{{att.icon_off}}" title="{{att.name_off}}" ng-click="ctrl.changeAttribute(att.attribute)" ng-show="att.status===false" />
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Waypointy:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="list-group">
                    <div class="list-group-item row" ng-repeat="wpt in ctrl.post.waypoints" ng-class="{'list-group-item-success': wpt.waypointVisibility.waypointVisibility === 'VW', 'list-group-item-warning': wpt.waypointVisibility.waypointVisibility === 'HW', 'list-group-item-danger': wpt.waypointVisibility.waypointVisibility === 'HC'}">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <img src="assets/images/finish.png" class="waipoint-type-icon" ng-show="wpt.waypointType.waypointType==='FIN'" title="{{wpt.waypointType.name}}" />
                            <img src="assets/images/parking.png" class="waipoint-type-icon" ng-show="wpt.waypointType.waypointType==='PAR'" title="{{wpt.waypointType.name}}" />
                            <img src="assets/images/poi.png" class="waipoint-type-icon" ng-show="wpt.waypointType.waypointType==='REF'" title="{{wpt.waypointType.name}}" />
                            <img src="assets/images/path.png" class="waipoint-type-icon" ng-show="wpt.waypointType.waypointType==='WAY'" title="{{wpt.waypointType.name}}" />
                            <img src="assets/images/stage.png" class="waipoint-type-icon" ng-show="wpt.waypointType.waypointType==='STA'" title="{{wpt.waypointType.name}}" />
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            {{wpt.name}}
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {{wpt.description}}
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div ng-show="wpt.waypointVisibility.waypointVisibility!=='HC'">
                                {{wpt.latitude | coordinate: 'N'}}<br />
                                {{wpt.longitude | coordinate: 'E'}}
                            </div>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1 text-right">
                            <div ng-click="ctrl.removeWaypoint(wpt)" class="clickable"><span class="glyphicon glyphicon-remove delete-icon icon" aria-hidden="true"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button ng-click="ctrl.addWaypoint()" class="btn btn-primary">Přidat waypoint</button>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Upravit" ng-click="ctrl.editPost(ctrl.post)" ng-disabled="editPostForm.$invalid" class="btn btn-primary">
        </div>
    </form>
</div>
