<div>
    <h1>Admin - stanoviště</h1>
    <a href="#/admin/posts/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Přidat stanoviště</a>
    <div class="row" ng-repeat="post in ctrl.posts | orderBy: 'post'">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 postItemAdmin">
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1 {{post.color}}">
                    <i class="fa fa-question-circle-o fa-4x" aria-hidden="true" ng-show="post.postType==='CIP'"></i>
                    <i class="fa fa-compass fa-4x" aria-hidden="true" ng-show="post.postType==='ACT'"></i>
                    <i class="fa fa-archive fa-4x" aria-hidden="true" ng-show="post.postType==='CGC'"></i>
                    <i class="fa fa-gift fa-4x" aria-hidden="true" ng-show="post.postType==='BON'"></i>
                    <i class="fa fa-play fa-4x" aria-hidden="true" ng-show="post.postType==='BEG'"></i>
                    <i class="fa fa-flag-checkered fa-4x" aria-hidden="true" ng-show="post.postType==='END'"></i>
                </div>
                <h3 class="col-xs-3 col-sm-3 col-md-3 col-xl-3">{{post.name}}</h3>
                <div class="col-xs-2 col-sm-2 col-md-2 col-xl-2">
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3 col-xl-3">

                </div>
                <div class="col-xs-2 col-sm-3 col-md-3 col-xl-3" ng-hide="teamItem.teamType === 'ORG'">
                    <a href="#/admin/posts/edit/{{post.post}}" class="btn btn-primary"><span class="fa fa-edit" aria-hidden="true"></span><span class="hidden-xs"> Upravit</span></a>
                    <button type="button" ng-click="ctrl.deletePost(post.post)" class="btn btn-danger"><i class="fa fa-remove" aria-hidden="true"></i><span class="hidden-xs"> Odstranit</span></button>
                </div>
            </div>
        </div>
    </div>
</div>