<please-wait></please-wait>
<div>
    <h1>Bonusy</h1>
    <div ng-repeat="bonus in ctrl.bonuses" class="bonus row" style="background-color: {{bonus.color.code}}">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <i class="fa fa-check fa-2x" style="color: green" aria-hidden="true" ng-show="bonus.isDone===true"></i>
            <i class="fa fa-unlock-alt fa-2x" style="color: green" aria-hidden="true" ng-show="bonus.isUnlocked===true && bonus.isDone===false"></i>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <h3><a ng-href="#/postDetail/{{bonus.post}}">{{bonus.name}}</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <span ng-repeat="indicie in bonus.indicies"><a ng-href="#/postDetail/{{indicie.post}}">{{indicie.shibboleth}}</a> </span>
        </div>
    </div>
</div>
