<div ng-controller="DeleteTeamCtrl as deleteTeam">
    <h1>Admin - smazat tým</h1>

    <form novalidate name="deleteTeamForm">
        <div class="row form-group">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                Id týmu:
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="text" id="id" name="id" ng-model="deleteTeam.team.id" readonly />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                Název týmu:
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="text" id="name" name="name" ng-model="deleteTeam.team.name" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                Popis:
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="text" id="description" name="description" ng-model="deleteTeam.team.description" readonly />
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Smazat" ng-click="deleteTeam.deleteTeam(team)" class="btn btn-danger">
            <input type="submit" value="Zpět" ng-click="deleteTeam.cancel()" class="btn btn-default">
        </div>
    </form>
</div>