<please-wait></please-wait>
<div>
    <form name="unlockBonusForm" class="form-inline">
        <div class="row">
            <h1 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Odemknout {{ctrl.post.name}}</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-10 col-lg-10" style="margin-bottom: 1ex">
                <input type="text" class="form-control" ng-model="ctrl.password" required placeholder="Zadejte heslo pro odemknutí bonusu" style="width: 100%"/>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 text-right">
                <a ng-href="#/postDetail/{{ctrl.post.post}}" class="btn btn-default custom" style="width: 100%"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Zpět</a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <button ng-click="ctrl.unlock()" ng-disabled="unlockBonusForm.  $invalid" class="form-control btn btn-success" style="width: 100%"><i class="fa fa-unlock"></i> Odemknout</button>
            </div>
        </div>
    </form>
</div>
