<please-wait></please-wait>
<div>
    <form name="logPostForm form-inline">
        <div class="row">
            <h1 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Zalogovat stanoviště {{ctrl.post.name}}</h1>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-12 col-sm-8 col-md-10 col-xl-10">
                    <input type="text" class="form-control" ng-model="ctrl.shibboleth" required placeholder="Zadejte heslo stanoviště" />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 col-xl-2">
                    <button ng-click="ctrl.log()" ng-disabled="logPostForm.$invalid" class="form-control btn btn-success"><i class="fa fa-check"></i> Zalogovat</button>
                </div>
            </div>
        </div>
    </form>
</div>
