<please-wait></please-wait>
<div>
    <div class="row" style="background-color:{{ctrl.post.colorCode}}; margin-bottom: 10px;">
        <h1 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            <i class="fa fa-question-circle-o" aria-hidden="true" ng-show="ctrl.post.postType==='CIP'"></i>
            <i class="fa fa-child" aria-hidden="true" ng-show="ctrl.post.postType==='ACT'"></i>
            <i class="fa fa-archive" aria-hidden="true" ng-show="ctrl.post.postType==='CGC'"></i>
            <i class="fa fa-gift" aria-hidden="true" ng-show="ctrl.post.postType==='BON' || ctrl.post.postType==='SBN'"></i>
            <i class="fa fa-play" aria-hidden="true" ng-show="ctrl.post.postType==='BEG'"></i>
            <i class="fa fa-flag-checkered" aria-hidden="true" ng-show="ctrl.post.postType==='END'"></i>
            {{ctrl.post.name}}
        </h1>
    </div>
    <div class="col-xs-9 col-sm-6 col-md-6 col-xl-6">
        <div class="row">
            <strong class="col-xs-3 col-sm-3 col-md-2 col-xl-2 text-right">N:</strong>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10">{{ctrl.post.latitude | coordinate: 'N'}}</div>
        </div>
        <div class="row">
            <strong class="col-xs-3 col-sm-3 col-md-2 col-xl-2 text-right">E:</strong>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10">{{ctrl.post.longitude | coordinate: 'E'}}</div>
        </div>
            <div class="row">
            <strong class="col-xs-3 col-sm-3 col-md-2 col-xl-2 text-right">Terén:</strong>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10"><img alt="{{ctrl.post.cacheName}}" title="Terén {{ctrl.post.terrain}}" src="../assets/images/stars{{ctrl.post.terrain}}.gif" style="vertical-align: top"> {{ctrl.post.terrain}}</div>
        </div>
        <div class="row">
            <strong class="col-xs-3 col-sm-3 col-md-2 col-xl-2 text-right">Obtížnost:</strong>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10"><img alt="{{ctrl.post.cacheName}}" title="Obtížnost {{ctrl.post.difficulty}}" src="../assets/images/stars{{ctrl.post.difficulty}}.gif" style="vertical-align: top"> {{ctrl.post.difficulty}}</div>
        </div>
        <div class="row" ng-show="ctrl.post.openFrom !== null">
            <strong class="col-xs-3 col-sm-3 col-md-2 col-xl-2 text-right">Otvírací doba:</strong>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10">{{ctrl.post.openFrom}} - {{ctrl.post.openTo}}</div>
        </div>
        <div class="row" ng-show="ctrl.post.postType==='CGC'">
            <strong class="col-xs-3 col-sm-3 col-md-2 col-xl-2 text-right">Typ:</strong>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheType === 'TRA'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/traditional.png"> ({{ctrl.post.cacheName}})</div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheType === 'MLT'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/multi.png"> ({{ctrl.post.cacheName}})</div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheType === 'LTB'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/letterbox.png"> ({{ctrl.post.cacheName}})</div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheType === 'CIT'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/cito.png"> ({{ctrl.post.cacheName}})</div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheType === 'MYS'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/unknown.png"> ({{ctrl.post.cacheName}})</div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheType === 'ERT'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/earthcache.png"> ({{ctrl.post.cacheName}})</div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheType === 'WIG'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/wherigo.png"> ({{ctrl.post.cacheName}})</div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheType == null || ctrl.post.cacheType === ''">T<span class="hidden-xs">Typ</span>: -</div>
        </div>
        <div class="row" ng-show="ctrl.post.postType==='BON' || ctrl.post.postType==='SBN' ||     ctrl.post.postType==='CGC'">
            <strong class="col-xs-3 col-sm-3 col-md-2 col-xl-2 text-right">Velikost:</strong>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheSize === 'M'"><img src="../assets/images/micro.gif" title="{{ctrl.post.sizeName}}" alt="{{ctrl.post.sizeName}}" /> ({{ctrl.post.sizeName}})</div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheSize === 'S'"><img src="../assets/images/small.gif" title="{{ctrl.post.sizeName}}" alt="{{ctrl.post.sizeName}}" /> ({{ctrl.post.sizeName}})</div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheSize === 'R'"><img src="../assets/images/regular.gif" title="{{ctrl.post.sizeName}}" alt="{{ctrl.post.sizeName}}" /> ({{ctrl.post.sizeName}})</div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheSize === 'L'"><img src="../assets/images/large.gif" title="{{ctrl.post.sizeName}}" alt="{{ctrl.post.sizeName}}" /> ({{ctrl.post.sizeName}})</div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cacheSize === 'O'"><img src="../assets/images/other.gif" title="{{ctrl.post.sizeName}}" alt="{{ctrl.post.sizeName}}" /> ({{ctrl.post.sizeName}})</div>
        </div>
        <div class="row">
            <strong class="col-xs-3 col-sm-3 col-md-2 col-xl-2 text-right">Barva:</strong>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10">{{ctrl.post.colorName}}</div>
        </div>
        <div class="row">
            <strong class="col-xs-3 col-sm-3 col-md-2 col-xl-2 text-right">Body:</strong>
            <div class="col-xs-9 col-sm-9 col-md-10 col-xl-10">{{ctrl.post.maxScore}}</div>
        </div>
    </div>
    <div class="col-xs-3 col-sm-6 col-md-6 col-xs-6 text-right actions">
        <button ng-click="ctrl.unlockBonus()" class="btn btn-success custom" ng-show="ctrl.post.postType==='BON' || ctrl.post.postType==='SBN'" ng-disabled="ctrl.post.isUnlocked"><i class="fa fa-unlock" aria-hidden="true"></i> Odemknout</button>
        <button ng-click="ctrl.logPost()" class="btn btn-success custom" ng-disabled="ctrl.disableLogButton"><i class="fa fa-check" aria-hidden="true"></i> Zalogovat</button>
        <button ng-click="ctrl.getHelp()" ng-show="ctrl.post.hasHelp" class="btn btn-info custom" ng-disabled="ctrl.disableHelpButton"><i class="fa fa-question-circle" aria-hidden="true"></i> Nápověda</button>
        <a type="button" ng-href="/api/gpx/post?securityToken={{ctrl.securityToken}}&post={{ctrl.post.post}}" class="btn btn-primary custom" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> GPX</a>
        <a href="#/postNote/{{ctrl.post.post}}" class="btn btn-default custom"><i class="fa fa-edit" aria-hidden="true"></i> Poznámka</a>
        <a href="#/posts" class="btn btn-default custom"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Zpět</a>
    </div>
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Popis</h2>
    </div>
    <div class="row content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12" ng-bind-html="ctrl.post.description" />
    </div>
    <div class="row" ng-show="ctrl.post.hint !== '' && ctrl.post.hint !== null">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Hint</h2>
    </div>
    <div class="row" ng-show="ctrl.post.hint !== '' && ctrl.post.hint !== null">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            {{ctrl.post.hint}}
        </div>
    </div>
    <div class="row" ng-show="ctrl.post.hasHelp && (ctrl.post.help !== '' && ctrl.post.help !== null)">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Nápověda</h2>
    </div>
    <div class="row" ng-show="ctrl.post.hasHelp && (ctrl.post.help !== '' && ctrl.post.help !== null)">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            {{ctrl.post.help}}
        </div>
    </div>
    <div class="row" ng-show="ctrl.post.postNote !== null">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Poznámka</h2>
    </div>
    <div class="row" ng-show="ctrl.post.postNote !== null">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            {{ctrl.post.postNote}}
        </div>
    </div>
    <div class="row" ng-show="ctrl.post.isDone === true && (ctrl.post.postType !== 'BON' || ctrl.post.postType==='SBN')">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Heslo k bonusu</h2>
    </div>
    <div class="row" ng-show="ctrl.post.isDone === true && (ctrl.post.postType !== 'BON' || ctrl.post.postType==='SBN')">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            Na {{ctrl.post.passwordPosition}}. místě hesla k bonusu je písmeno {{ctrl.post.passwordCharacter | uppercase}}.
        </div>
    </div>
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Waypointy</h2>
    </div>
    <div class="row">
        <div class="list-group">
            <div class="list-group-item row" ng-repeat="wpt in ctrl.post.waypoints">
                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                    <img src="../assets/images/finish.png" ng-show="wpt.waypointType==='FIN'" title="{{wpt.waypointTypeName}}" class="waipoint-type-icon" />
                    <img src="../assets/images/parking.png" ng-show="wpt.waypointType==='PAR'" title="{{wpt.waypointTypeName}}" class="waipoint-type-icon" />
                    <img src="../assets/images/poi.png" ng-show="wpt.waypointType==='REF'" title="{{wpt.waypointTypeName}}" class="waipoint-type-icon" />
                    <img src="../assets/images/path.png" ng-show="wpt.waypointType==='WAY'" title="{{wpt.waypointTypeName}}" class="waipoint-type-icon" />
                    <img src="../assets/images/stage.png" ng-show="wpt.waypointType==='STA'" title="{{wpt.waypointTypeName}}" class="waipoint-type-icon" />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
                    {{wpt.name}}
                </div>
                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
                    {{wpt.description}}
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" ng-show="wpt.waypointVisibility === 'VW' || (wpt.waypointVisibility === 'HC' && (ctrl.post.isDone === true || ctrl.post.isUnlocked === true))">
                    {{wpt.latitude | coordinate: 'N'}}<br />
                    {{wpt.longitude | coordinate: 'E'}}
                </div>
            </div>
        </div>
    </div>
</div>
