<please-wait></please-wait>
<div>
    <div class="row" style="background-color:{{ctrl.post.colorCode}}">
        <div class="col-xs-2 col-sm-1 col-md-1 col-xl-1">
            <i class="fa fa-question-circle-o fa-4x" aria-hidden="true" ng-show="ctrl.post.postType==='CIP'"></i>
            <i class="fa fa-compass fa-4x" aria-hidden="true" ng-show="ctrl.post.postType==='ACT'"></i>
            <i class="fa fa-archive fa-4x" aria-hidden="true" ng-show="ctrl.post.postType==='CGC'"></i>
            <i class="fa fa-gift fa-4x" aria-hidden="true" ng-show="ctrl.post.postType==='BON'"></i>
            <i class="fa fa-play fa-4x" aria-hidden="true" ng-show="ctrl.post.postType==='BEG'"></i>
            <i class="fa fa-flag-checkered fa-4x" aria-hidden="true" ng-show="ctrl.post.postType==='END'"></i>
        </div>
        <h1 class="col-xs-10 col-sm-11 col-md-11 col-xl-11">{{ctrl.post.name}}</h1>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-6 col-md-6 col-xl-6">Barva:</strong>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">{{ctrl.post.colorName}}</div>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-6 col-md-6 col-xl-6">Terén:</strong>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">{{ctrl.post.terrain}}</div>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-6 col-md-6 col-xl-6">Obtížnost:</strong>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">{{ctrl.post.difficulty}}</div>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-6 col-md-6 col-xl-6">Body:</strong>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">{{ctrl.post.maxScore}}</div>
    </div>
    <div class="row" ng-show="ctrl.post.postType==='CGC'">
        <strong class="col-xs-6 col-sm-6 col-md-6 col-xl-6">Typ:</strong>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" ng-show="ctrl.post.cacheType === 'TRA'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/traditional_16.gif"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" ng-show="ctrl.post.cacheType === 'MLT'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/multi_16.gif"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" ng-show="ctrl.post.cacheType === 'LET'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/letterbox_16.gif"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" ng-show="ctrl.post.cacheType === 'MYS'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/unknown_16.gif"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" ng-show="ctrl.post.cacheType === 'ERT'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/earthcache_16.gif"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" ng-show="ctrl.post.cacheType === 'WIG'"><img alt="{{ctrl.post.cacheName}}" title="{{ctrl.post.cacheName}}" src="../assets/images/wherigo_16.gif"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" ng-show="ctrl.post.cacheType == null || ctrl.post.cacheType === ''">T<span class="hidden-xs">yp</span>: -</div>
    </div>
    <div class="row" ng-show="ctrl.post.postType==='BON' || ctrl.post.postType==='CGC'">
        <strong class="col-xs-6 col-sm-6 col-md-6 col-xl-6">Velikost:</strong>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" ng-show="ctrl.post.sizeName === 'Mikro'"><img src="../assets/images/micro.gif" title="{{ctrl.post.sizeName}}" alt="{{ctrl.post.sizeName}}" /></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" ng-show="ctrl.post.sizeName === 'Malá'"><img src="../assets/images/small.gif" title="{{ctrl.post.sizeName}}" alt="{{ctrl.post.sizeName}}" /></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" ng-show="ctrl.post.sizeName === 'Střední'"><img src="../assets/images/regular.gif" title="{{ctrl.post.sizeName}}" alt="{{ctrl.post.sizeName}}" /></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" ng-show="ctrl.post.sizeName === 'Velká'"><img src="../assets/images/large.gif" title="{{ctrl.post.sizeName}}" alt="{{ctrl.post.sizeName}}" /></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" ng-show="ctrl.post.sizeName === 'Jiná'"><img src="../assets/images/other.gif" title="{{ctrl.post.sizeName}}" alt="{{ctrl.post.sizeName}}" /></div>
    </div>
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Popis</h2>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12" ng-bind-html="ctrl.post.description" />
    </div>
    <div class="row" ng-show="ctrl.post.hint !== '' && ctrl.post.hint !== null">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Hint</h2>
    </div>
    <div class="row" ng-show="ctrl.post.hint !== '' && ctrl.post.hint !== null">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            {{ctrl.post.hint}}
        </div>
    </div>
    <div class="row" ng-show="ctrl.post.hasHelp === true && (ctrl.post.help !== '' && ctrl.post.help !== null)">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Nápověda</h2>
    </div>
    <div class="row" ng-show="ctrl.post.hasHelp === true && (ctrl.post.help !== '' && ctrl.post.help !== null)">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            {{ctrl.post.help}}
        </div>
    </div>
    <div class="row" ng-show="ctrl.post.postNote !== null">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Poznámka</h2>
    </div>
    <div class="row" ng-show="ctrl.post.postNote !== null">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            {{ctrl.post.postNote}}
        </div>
    </div>
    <div class="row" ng-show="ctrl.post.isDone === true && ctrl.post.postType !== 'BON'">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Indicie</h2>
    </div>
    <div class="row" ng-show="ctrl.post.isDone === true && ctrl.post.postType !== 'BON'">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            {{ctrl.post.shibboleth}}
        </div>
    </div>
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Waypointy</h2>
    </div>
    <div class="row">
        <div class="list-group">
            <div class="list-group-item row" ng-repeat="wpt in ctrl.post.waypoints">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <img src="../assets/images/finish.png" ng-show="wpt.waypointType==='FIN'" title="{{wpt.waypointTypeName}}" class="waipoint-type-icon" />
                    <img src="../assets/images/parking.png" ng-show="wpt.waypointType==='PAR'" title="{{wpt.waypointTypeName}}" class="waipoint-type-icon" />
                    <img src="../assets/images/poi.png" ng-show="wpt.waypointType==='REF'" title="{{wpt.waypointTypeName}}" class="waipoint-type-icon" />
                    <img src="../assets/images/path.png" ng-show="wpt.waypointType==='WAY'" title="{{wpt.waypointTypeName}}" class="waipoint-type-icon" />
                    <img src="../assets/images/stage.png" ng-show="wpt.waypointType==='STA'" title="{{wpt.waypointTypeName}}" class="waipoint-type-icon" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{wpt.name}}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{wpt.description}}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-show="wpt.waypointVisibility === 'VW'">
                    {{wpt.latitude | coordinate: 'N'}}<br />
                    {{wpt.longitude | coordinate: 'E'}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Akce</h2>
    </div>
    <div class="row">
        <a href="#/postNote/{{ctrl.post.post}}" class="btn btn-primary">Poznámka</a>
        <a type="button" ng-href="/api/gpx/post?securityToken={{ctrl.securityToken}}&post={{ctrl.post.post}}" class="btn btn-primary" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> GPX</a>
        <button ng-click="ctrl.getHelp()" ng-show="ctrl.post.hasHelp === true" class="btn btn-primary" ng-disabled="ctrl.post.help !== null">Nápověda</button>
        <a href="#/bonusUnlock/{{ctrl.post.post}}" class="btn btn-primary" ng-show="ctrl.post.postType==='BON'" ng-disabled="ctrl.post.isUnlocked === true">Odemknout</a>
        <a href="#/postLog/{{ctrl.post.post}}" class="btn btn-primary" ng-disabled="ctrl.post.isDone === true || (ctrl.post.postType==='BON' && ctrl.post.isUnlocked === false)">Zalogovat</a>
    </div>
</div>