<please-wait></please-wait>
<div>
    <div class="row" style="background-color:{{ctrl.post.color_code}}; margin-bottom: 10px;">
        <h1 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            <i class="fa fa-question-circle-o" aria-hidden="true" ng-show="ctrl.post.post_type==='CIP'"></i>
            <i class="fa fa-child" aria-hidden="true" ng-show="ctrl.post.post_type==='ACT'"></i>
            <i class="fa fa-archive" aria-hidden="true" ng-show="ctrl.post.post_type==='CGC'"></i>
            <i class="fa fa-gift" aria-hidden="true" ng-show="ctrl.post.post_type==='BON' || ctrl.post.post_type==='SBN'"></i>
            <i class="fa fa-play" aria-hidden="true" ng-show="ctrl.post.post_type==='BEG'"></i>
            <i class="fa fa-flag-checkered" aria-hidden="true" ng-show="ctrl.post.post_type==='END'"></i>
            {{ctrl.post.name}}
        </h1>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-6 col-xl-6 no-padding">
        <div class="row">
            <strong class="col-xs-5 col-sm-3 col-md-2 col-xl-2 text-right">N:</strong>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10">{{ctrl.post.latitude | coordinate: 'N'}}</div>
        </div>
        <div class="row">
            <strong class="col-xs-5 col-sm-3 col-md-2 col-xl-2 text-right">E:</strong>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10">{{ctrl.post.longitude | coordinate: 'E'}}</div>
        </div>
            <div class="row">
            <strong class="col-xs-5 col-sm-3 col-md-2 col-xl-2 text-right">Terén:</strong>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10"><img alt="{{ctrl.post.cache_name}}" title="Terén {{ctrl.post.terrain}}" src="/www/assets/images/stars{{ctrl.post.terrain}}.gif" style="vertical-align: top"> {{ctrl.post.terrain}}</div>
        </div>
        <div class="row">
            <strong class="col-xs-5 col-sm-3 col-md-2 col-xl-2 text-right">Obtížnost:</strong>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10"><img alt="{{ctrl.post.cache_name}}" title="Obtížnost {{ctrl.post.difficulty}}" src="/www/assets/images/stars{{ctrl.post.difficulty}}.gif" style="vertical-align: top"> {{ctrl.post.difficulty}}</div>
        </div>
        <div class="row" ng-show="ctrl.post.open_from !== null">
            <strong class="col-xs-5 col-sm-3 col-md-2 col-xl-2 text-right">Otvírací doba:</strong>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10">{{ctrl.post.open_from}} - {{ctrl.post.open_to}}</div>
        </div>
        <div class="row" ng-show="ctrl.post.post_type==='CGC'">
            <strong class="col-xs-5 col-sm-3 col-md-2 col-xl-2 text-right">Typ:</strong>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_type === 'TRA'"><img alt="{{ctrl.post.cache_name}}" title="{{ctrl.post.cache_name}}" src="/www/assets/images/traditional.png"> ({{ctrl.post.cache_name}})</div>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_type === 'MLT'"><img alt="{{ctrl.post.cache_name}}" title="{{ctrl.post.cache_name}}" src="/www/assets/images/multi.png"> ({{ctrl.post.cache_name}})</div>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_type === 'LTB'"><img alt="{{ctrl.post.cache_name}}" title="{{ctrl.post.cache_name}}" src="/www/assets/images/letterbox.png"> ({{ctrl.post.cache_name}})</div>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_type === 'CIT'"><img alt="{{ctrl.post.cache_name}}" title="{{ctrl.post.cache_name}}" src="/www/assets/images/cito.png"> ({{ctrl.post.cache_name}})</div>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_type === 'MYS'"><img alt="{{ctrl.post.cache_name}}" title="{{ctrl.post.cache_name}}" src="/www/assets/images/unknown.png"> ({{ctrl.post.cache_name}})</div>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_type === 'ERT'"><img alt="{{ctrl.post.cache_name}}" title="{{ctrl.post.cache_name}}" src="/www/assets/images/earthcache.png"> ({{ctrl.post.cache_name}})</div>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_type === 'WIG'"><img alt="{{ctrl.post.cache_name}}" title="{{ctrl.post.cache_name}}" src="/www/assets/images/wherigo.png"> ({{ctrl.post.cache_name}})</div>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_type == null || ctrl.post.cache_type === ''">-</div>
        </div>
        <div class="row" ng-show="ctrl.post.post_type==='BON' || ctrl.post.post_type==='SBN' || ctrl.post.post_type==='CGC'">
            <strong class="col-xs-5 col-sm-3 col-md-2 col-xl-2 text-right">Velikost:</strong>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_size === 'M'"><img src="/www/assets/images/micro.gif" title="{{ctrl.post.size_name}}" alt="{{ctrl.post.size_name}}" /> ({{ctrl.post.size_name}})</div>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_size === 'S'"><img src="/www/assets/images/small.gif" title="{{ctrl.post.size_name}}" alt="{{ctrl.post.size_name}}" /> ({{ctrl.post.size_name}})</div>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_size === 'R'"><img src="/www/assets/images/regular.gif" title="{{ctrl.post.size_name}}" alt="{{ctrl.post.size_name}}" /> ({{ctrl.post.size_name}})</div>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_size === 'L'"><img src="/www/assets/images/large.gif" title="{{ctrl.post.size_name}}" alt="{{ctrl.post.size_name}}" /> ({{ctrl.post.size_name}})</div>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10" ng-show="ctrl.post.cache_size === 'O'"><img src="/www/assets/images/other.gif" title="{{ctrl.post.size_name}}" alt="{{ctrl.post.size_name}}" /> ({{ctrl.post.size_name}})</div>
        </div>
        <div class="row">
            <strong class="col-xs-5 col-sm-3 col-md-2 col-xl-2 text-right">Barva:</strong>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10"><span class="color-square" style="background-color:{{ctrl.post.color_code}}"></span> ({{ctrl.post.color_name}})</div>
        </div>
        <div class="row">
            <strong class="col-xs-5 col-sm-3 col-md-2 col-xl-2 text-right">Body:</strong>
            <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10">{{ctrl.post.max_score}}</div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-6 col-md-6 col-xs-6 text-right no-padding actions">
        <button ng-click="ctrl.unlockBonus()" class="btn btn-success custom" ng-show="ctrl.post.post_type==='BON' || ctrl.post.post_type==='SBN'" ng-disabled="ctrl.post.is_unlocked"><i class="fa fa-unlock" aria-hidden="true"></i> Odemknout</button>
        <button ng-click="ctrl.logPost()" class="btn btn-success custom" ng-disabled="ctrl.disableLogButton"><i class="fa fa-check" aria-hidden="true"></i> Zalogovat</button>
        <button ng-click="ctrl.getHelp()" ng-show="ctrl.post.has_help" class="btn btn-info custom" ng-disabled="ctrl.disableHelpButton"><i class="fa fa-question-circle" aria-hidden="true"></i> Nápověda</button>
        <a type="button" ng-href="/api/gpx/post?securityToken={{ctrl.securityToken}}&post={{ctrl.post.post}}" class="btn btn-primary custom" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> GPX</a>
        <a href="#/postNote/{{ctrl.post.post}}" class="btn btn-default custom"><i class="fa fa-edit" aria-hidden="true"></i> Poznámka</a>
        <a href="#/posts" class="btn btn-default custom"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Zpět</a>
    </div>
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Popis</h2>
    </div>
    <div class="row content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12" ng-bind-html="ctrl.post.description" />
    </div>
    <div class="row" ng-show="ctrl.post.hint !== '' && ctrl.post.hint !== null">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Hint</h2>
    </div>
    <div class="row" ng-show="ctrl.post.hint !== '' && ctrl.post.hint !== null">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            {{ctrl.post.hint}}
        </div>
    </div>
    <div class="row" ng-show="ctrl.post.has_help && (ctrl.post.help !== '' && ctrl.post.help !== null)" id="helpContainerLabel">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Nápověda</h2>
    </div>
    <div class="row" ng-show="ctrl.post.has_help && (ctrl.post.help !== '' && ctrl.post.help !== null)" id="helpContainer">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            {{ctrl.post.help}}
        </div>
    </div>
    <div class="row" ng-show="ctrl.post.post_note !== null">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Poznámka</h2>
    </div>
    <div class="row" ng-show="ctrl.post.post_note !== null">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            {{ctrl.post.post_note}}
        </div>
    </div>
    <div class="row" ng-show="ctrl.post.is_done === true && (ctrl.post.post_type !== 'BON' || ctrl.post.post_type==='SBN')">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Heslo k bonusu</h2>
    </div>
    <div class="row" ng-show="ctrl.post.is_done === true && (ctrl.post.post_type !== 'BON' || ctrl.post.post_type==='SBN')">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            Na {{ctrl.post.password_position}}. místě hesla k bonusu je písmeno {{ctrl.post.password_character | uppercase}}.
        </div>
    </div>
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Waypointy</h2>
    </div>
    <div class="row">
        <div class="list-group">
            <div class="list-group-item row" ng-repeat="wpt in ctrl.post.waypoints">
                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                    <img src="/www/assets/images/finish.png" ng-show="wpt.waypoint_type==='FIN'" title="{{wpt.waypoint_typeName}}" class="waipoint-type-icon" />
                    <img src="/www/assets/images/parking.png" ng-show="wpt.waypoint_type==='PAR'" title="{{wpt.waypoint_typeName}}" class="waipoint-type-icon" />
                    <img src="/www/assets/images/poi.png" ng-show="wpt.waypoint_type==='REF'" title="{{wpt.waypoint_typeName}}" class="waipoint-type-icon" />
                    <img src="/www/assets/images/path.png" ng-show="wpt.waypoint_type==='WAY'" title="{{wpt.waypoint_typeName}}" class="waipoint-type-icon" />
                    <img src="/www/assets/images/stage.png" ng-show="wpt.waypoint_type==='STA'" title="{{wpt.waypoint_typeName}}" class="waipoint-type-icon" />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
                    {{wpt.name}}
                </div>
                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
                    {{wpt.description}}
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" ng-show="wpt.waypoint_visibility === 'VW' || ((wpt.waypoint_visibility === 'HC' || wpt.waypoint_visibility === 'HW') && (ctrl.post.is_done === true || ctrl.post.is_unlocked === true))">
                    {{wpt.latitude | coordinate: 'N'}}<br />
                    {{wpt.longitude | coordinate: 'E'}}
                </div>
            </div>
        </div>
    </div>
</div>
