<div ng-controller="PostDetailCtrl as ctrl">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1 {{postItem.color}}">
            <i class="fa fa-question-circle-o fa-4x" aria-hidden="true" ng-show="ctrl.post.post_type==='CIP'"></i>
            <i class="fa fa-compass fa-4x" aria-hidden="true" ng-show="ctrl.post.post_type==='ACT'"></i>
            <i class="fa fa-archive fa-4x" aria-hidden="true" ng-show="ctrl.post.post_type==='CGC'"></i>
            <i class="fa fa-gift fa-4x" aria-hidden="true" ng-show="ctrl.post.post_type==='BON'"></i>
            <i class="fa fa-play fa-4x" aria-hidden="true" ng-show="ctrl.post.post_type==='BEG'"></i>
            <i class="fa fa-flag-checkered fa-4x" aria-hidden="true" ng-show="ctrl.post.post_type==='END'"></i>
        </div>
        <h1 class="col-xs-11 col-sm-11 col-md-11 col-xl-11">Stanoviště {{ctrl.post.name}}</h1>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-6 col-md-6 col-xl-6">Terén:</strong>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">{{ctrl.post.terrain}}</div>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-6 col-md-6 col-xl-6">Obtížnost:</strong>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">{{ctrl.post.difficulty}}</div>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-6 col-md-6 col-xl-6">Body:</strong>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">{{ctrl.post.max_score}}</div>
    </div>
    <div class="row" ng-show="ctrl.post.post_type==='CGC'">
        <strong class="col-xs-6 col-sm-6 col-md-6 col-xl-6">Typ:</strong>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">{{ctrl.post.cacheType.name}}</div>
    </div>
    <div class="row" ng-show="ctrl.post.post_type==='BON' || ctrl.post.post_type==='CGC'">
        <strong class="col-xs-6 col-sm-6 col-md-6 col-xl-6">Velikost:</strong>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">{{ctrl.post.postSize.name}}</div>
    </div>
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Popis</h2>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12" ng-bind-html="ctrl.post.description" />
    </div>
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Hint</h2>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            {{ctrl.post.hint}}
        </div>
    </div>
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Waypointy</h2>
    </div>
    <div class="row">
        <div class="list-group">
            <div class="list-group-item row" ng-repeat="wpt in ctrl.post.waypoints">
                <img src="/brazda/app/assets/images/finish.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypoint_type.waypoint_type==='FIN'" title="{{wpt.waypoint_type.name}}" />
                <img src="/brazda/app/assets/images/parking.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypoint_type.waypoint_type==='PAR'" title="{{wpt.waypoint_type.name}}" />
                <img src="/brazda/app/assets/images/poi.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypoint_type.waypoint_type==='REF'" title="{{wpt.waypoint_type.name}}" />
                <img src="/brazda/app/assets/images/path.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypoint_type.waypoint_type==='WAY'" title="{{wpt.waypoint_type.name}}" />
                <img src="/brazda/app/assets/images/stage.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypoint_type.waypoint_type==='STA'" title="{{wpt.waypoint_type.name}}" />
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{wpt.name}}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{wpt.description}}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-show="wpt.waypoint_visibility === 'VW'">
                    {{wpt.latitude | coordinate: 'N'}}<br />
                    {{wpt.longitude | coordinate: 'E'}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-xl-12">Akce</h2>
    </div>
    <div class="row">
        <button ng-click="ctrl.downloadGpx()">Stáhnout GPX</button>
        <button ng-click="ctrl.getHelp()" ng-show="ctrl.post.help !== ''">Nápověda</button>
        <a href="#/bonusUnlock/{{ctrl.post.post}}" class="btn btn-default" ng-show="ctrl.post.post_type==='BON'">Odemknout</a>
        <a href="#/postLog/{{ctrl.post.post}}" class="btn btn-default">Zalogovat</a>
    </div>
</div>