<div ng-controller="AddPostCtrl as addPost">
    <h1>Admin - přidat stanoviště</h1>

    <form novalidate name="addPostForm">
        <div class="row form-group" ng-class="{ 'has-error' : addPostForm.name.$invalid && !addPostForm.name.$pristine }">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Název:
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="text" id="name" name="name" ng-model="addPost.post.name" required ng-required="true" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Popis:
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <ng-quill-editor ng-model="addPost.post.description"></ng-quill-editor>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Typ stanoviště:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="postType.name for postType in addPost.postTypes" ng-model="addPost.post.postType" class="form-control"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Typ keše:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="cacheType.name for cacheType in addPost.cacheTypes" ng-model="addPost.post.cacheType" class="form-control" ng-disabled="addPost.post.postType.post_type !== 'CGC' && addPost.post.postType.post_type !== 'BON'"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Velikost keše:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="postSize.name for postSize in addPost.postSizes" ng-model="addPost.post.postSize" class="form-control" ng-disabled="addPost.post.postType.post_type !== 'CGC' && addPost.post.postType.post_type !== 'BON'"></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Barva:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="postColor.name for postColor in addPost.postColors" ng-model="addPost.post.postColor" class="form-control"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Terén:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="terrain.name for terrain in addPost.postTerrains" ng-model="addPost.post.terrain" class="form-control"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Obtížnost:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="difficulty.name for difficulty in addPost.postDifficulties" ng-model="addPost.post.difficulty" class="form-control"></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Maximální skóre:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="number" ng-model="addPost.post.maxScore" id="maxScore" name="maxScore" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Indicie:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="addPost.post.shibboleth" id="shibboleth" name="shibboleth" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Bonusový kód:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="addPost.post.bonusCode" id="bonusCode" name="bonusCode" class="form-control" ng-disabled="addPost.post.postType.post_type !== 'BON'" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Hint:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="addPost.post.hint" id="hint" name="hint" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Nápověda:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="addPost.post.help" id="help" name="help" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                S orgem:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="checkbox" ng-model="addPost.post.withStaff" id="withStaff" name="withStaff" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Waypointy:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="list-group">
                    <div class="list-group-item row" ng-repeat="wpt in addPost.waypoints" ng-class="{'list-group-item-success': wpt.waypointVisibility.waypoint_visibility === 'VW', 'list-group-item-warning': wpt.waypointVisibility.waypoint_visibility === 'HW', 'list-group-item-danger': wpt.waypointVisibility.waypoint_visibility === 'HC'}">
                        <img src="/brazda/app/assets/images/finish.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypointType.waypoint_type==='FIN'" title="{{wpt.waypointType.name}}" />
                        <img src="/brazda/app/assets/images/parking.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypointType.waypoint_type==='PAR'" title="{{wpt.waypointType.name}}" />
                        <img src="/brazda/app/assets/images/poi.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypointType.waypoint_type==='REF'" title="{{wpt.waypointType.name}}" />
                        <img src="/brazda/app/assets/images/path.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypointType.waypoint_type==='WAY'" title="{{wpt.waypointType.name}}" />
                        <img src="/brazda/app/assets/images/stage.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypointType.waypoint_type==='STA'" title="{{wpt.waypointType.name}}" />
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            {{wpt.name}}
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                            {{wpt.description}}
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            {{wpt.latitude | coordinate: 'N'}}<br />
                            {{wpt.longitude | coordinate: 'E'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button ng-click="addPost.addWaypoint()" class="btn btn-primary">Přidat waypoint</button>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Přidat" ng-click="addPost.addPost(addPost.post)" ng-disabled="addPostForm.$invalid" class="btn btn-primary">
        </div>
    </form>
</div>