<div ng-controller="EditPostCtrl as editPost">
    <h1>Admin - upravit stanoviště</h1>

    <form novalidate name="editPostForm">
        <div class="row form-group" ng-class="{ 'has-error' : editPostForm.name.$invalid && !editPostForm.name.$pristine }">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Název:
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="text" id="name" name="name" ng-model="editPost.post.name" required ng-required="true" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Popis:
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <ng-quill-editor ng-model="editPost.post.description"></ng-quill-editor>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Typ stanoviště:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="postType.name for postType in editPost.postTypes" ng-model="editPost.post.post_type" class="form-control"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Typ keše:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="cacheType.name for cacheType in editPost.cacheTypes" ng-model="editPost.post.cacheType" class="form-control" ng-disabled="editPost.post.post_type.post_type !== 'CGC' && editPost.post.postType.post_type !== 'BON'"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Velikost keše:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="postSize.name for postSize in editPost.postSizes" ng-model="editPost.post.postSize" class="form-control" ng-disabled="editPost.post.post_type.post_type !== 'CGC' && editPost.post.postType.post_type !== 'BON'"></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Barva:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="postColor.name for postColor in editPost.postColors" ng-model="editPost.post.color" class="form-control"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Terén:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="terrain.name for terrain in editPost.postTerrains" ng-model="editPost.post.terrain" class="form-control"></select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Obtížnost:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <select ng-options="difficulty.name for difficulty in editPost.postDifficulties" ng-model="editPost.post.difficulty" class="form-control"></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Maximální skóre:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="number" ng-model="editPost.post.max_score" id="maxScore" name="maxScore" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Indicie:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="editPost.post.shibboleth" id="shibboleth" name="shibboleth" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Bonusový kód:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="editPost.post.bonus_code" id="bonusCode" name="bonusCode" class="form-control" ng-disabled="editPost.post.post_type.post_type !== 'BON'" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Hint:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="editPost.post.hint" id="hint" name="hint" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Nápověda:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" ng-model="editPost.post.help" id="help" name="help" class="form-control" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                S orgem:
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="checkbox" ng-model="editPost.post.with_staff" id="withStaff" name="withStaff" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Waypointy:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="list-group">
                    <div class="list-group-item row" ng-repeat="wpt in editPost.post.waypoints" ng-class="{'list-group-item-success': wpt.waypoint_visibility.waypoint_visibility === 'VW', 'list-group-item-warning': wpt.waypoint_visibility.waypoint_visibility === 'HW', 'list-group-item-danger': wpt.waypoint_visibility.waypoint_visibility === 'HC'}">
                        <img src="/brazda/app/assets/images/finish.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypoint_type.waypoint_type==='FIN'" title="{{wpt.waypoint_type.name}}" />
                        <img src="/brazda/app/assets/images/parking.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypoint_type.waypoint_type==='PAR'" title="{{wpt.waypoint_type.name}}" />
                        <img src="/brazda/app/assets/images/poi.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypoint_type.waypoint_type==='REF'" title="{{wpt.waypoint_type.name}}" />
                        <img src="/brazda/app/assets/images/path.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypoint_type.waypoint_type==='WAY'" title="{{wpt.waypoint_type.name}}" />
                        <img src="/brazda/app/assets/images/stage.png" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="wpt.waypoint_type.waypoint_type==='STA'" title="{{wpt.waypoint_type.name}}" />
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            {{wpt.name}}
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {{wpt.description}}
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            {{wpt.latitude}}<br />
                            {{wpt.longitude}}
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1 text-right">
                            <div ng-click="editPost.removeWaypoint(wpt)" class="clickable"><span class="glyphicon glyphicon-remove delete-icon icon" aria-hidden="true"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button ng-click="editPost.addWaypoint()" class="btn btn-primary">Přidat waypoint</button>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Upravit" ng-click="editPost.editPost(editPost.post)" ng-disabled="editPostForm.$invalid" class="btn btn-primary">
        </div>
    </form>
</div>