<please-wait></please-wait>
<div>
    <h1>Nastavení parametrů závodu</h1>
    <div class="row form-group">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            Začátek závodu:
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="datetime" name="raceStart_COM" ng-model="ctrl.details.raceStart_COM" class="form-control" />
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            Délka závodu:
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="raceDuration_COM" ng-model="ctrl.details.raceDuration_COM" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            Začátek závodu (dětské týmy):
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="datetime" name="raceStart_KID" ng-model="ctrl.details.raceStart_KID" class="form-control" />
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            Délka závodu (dětské týmy):
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="raceDuration_KID" ng-model="ctrl.details.raceDuration_KID" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            Penalizace na nápovědu:
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="orderPenalization" ng-model="ctrl.details.orderPenalization" class="form-control" />
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            Penalizace za pozdní příchod:
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="timePenalization" ng-model="ctrl.details.timePenalization" class="form-control" />
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            Diskvalifikace po konci závodu:
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="timePenalization" ng-model="ctrl.details.disqualificationTime" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button ng-click="ctrl.setRaceDetails()" class="btn btn-default">Nastavit</button>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button ng-click="ctrl.startRace()" class="btn btn-danger">Zahájit závod</button>
        </div>
    </div>
</div>