temp/*
!temp/.gitignore
!temp/.gitkeep
temp/cache/*
!temp/cache/.gitkeep
logs/*
log/*
!log/.gitkeep
vendor/*
!vendor/.gitkeep
!.gitkeep
node_modules/
!bower_components/
tmp
.DS_Store
.idea
app/config/config.local.neon
version
*.kate-swp
doc/*
www/db
app/config/config.test.neon
composer.lock
tester
