{block #content}
	<div class="row" id="default">
	<h1 n:block=title>Hlavní menu</h1>
	<div class="col-sm-12 col-md-6 menu-item">
		<h2><a href="">Nějaká položka</a></h2>
		<p><a href="">Popis nějaké položky</a></p>
	</div>
	</div> <!-- #default .row -->
{/block}
