/* app css stylesheet */

.ng-scope .navbar {
    margin-bottom: 0;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.postItem {
    border: 1px solid black;
}

.postItemAdmin {
    border: 1px solid black;
}

.RED {
    background-color: #ff5757;
}

.YEL {
    background-color: yellow;
}

.BLU {
    background-color: #75aefb;
}

.GRN {
    background-color: #79f8bb;
}

.GLD {
    background-color: #ffd700;
}

.delete-icon {
    color: red
}

[ng-quill-editor] {
    display: block;
    height: 300px;
}

.icon {
    font-size: x-large;
}

.clickable {
    cursor: pointer;
}

table.post-list {
    width: 100%;
    border-collapse: collapse;
}

table.post-list tbody tr td {
    padding: 3px;
}

.waipoint-type-icon {
    width: 32px;
    height: 32px;
}

.wait-please {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 1000;
    opacity: 0.7;
    background-image: url("/assets/images/wait.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

.results-table th {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    transform-origin: left top 0;
    table-layout: fixed
}

.results-table th div {
    position: absolute;
    left: -15px;
    top: -1px;
}

.bonus {
    height: 60px;
}

.results-table {
    margin-top: 200px;
}

.results-table td {
    padding: 3px;
    width: 50px!important;
}

.result-1 {
    background-color: red;
}

.result-2 {
    background-color: #ff4b4b;
}

.result-3 {
    background-color: #ff8282;
}

.content {
    text-align: justify;
}

.actions {
    line-height: 300%;
}

.btn.custom {
    min-width: 111px;
}

.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.color-square {
	border-radius: 3px;
	display: inline-block;
	width: 1.35em;
	height: 1.35em;
	vertical-align: middle;
}
