<please-wait></please-wait>
<div>
    <form novalidate class="simple-form">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <br />
                <img src="/www/assets/images/logo.png" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <br />
                <br />
                <label>
                    Název týmu:
                    <select name="teamName" id="teamName" ng-options="team.name for team in ctrl.teams" ng-model="ctrl.team" class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-12"></select>
                </label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label>Heslo:<input type="password" ng-model="ctrl.password" class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-12" /></label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <br />
                <input type="submit" ng-click="ctrl.login()" value="Odeslat" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>
