{block #content}
    <div class="row" id="login">
    <p><img src="/img/logo.png" style="width: 230px"><br><br></p>
    <h1 n:block=title>Přihlášení</h1>
    {control signInForm}
    </div> <!-- #login .row -->
{/block}
